// SHADES

$black: black;

$darkest: #000a12;
$darker: #102027;
$dark: #1c313a;
$darkish: #29434e;
$darkgray: #34515e;

$gray: #4b636e;

$lightgray: #62757f;
$lightish: #808e95;
$light: #9ea7aa;
$lighter: #babdbe;
$lightest: #eceff1;

$white: white;

// $dark0: #000a12;
// $dark1: #050f17;
// $dark2: #0a141c;
// $dark3: #0f1921;
// $dark4: #141e26;
// $dark5: #1a242c;
// $dark6: #1f2931;
// $dark7: #242e36;
// $dark8: #29333b;
// $dark9: #2e3840;

// $light0: #eceff1;
// $light1: #e2e5e7;
// $light2: #d8dbdd;
// $light3: #cdd0d2;
// $light4: #c3c6c8;
// $light5: #bec1c3;
// $light6: #b0bec5;

// PALETTE