// SHADES

$black: black;

$dark0: #010102;
$dark1: #090A0B;
$dark2: #111314;
$dark3: #191C1D;
$dark4: #212526;
$dark5: #292D30;
$dark6: #313639;
$dark7: #393F42;
$dark8: #41484B;
$dark9: #495155;
$darkA: #51595E;
$darkB: #586267;
$darkC: #606B70;
$darkD: #687479;
$darkE: #707C83;
$darkF: #78858C;

$light0: #808e95;
$light1: #88969C;
$light2: #919DA3;
$light3: #99A4AA;
$light4: #A2ACB1;
$light5: #AAB3B8;
$light6: #B2BBBF;
$light7: #BBC2C6;
$light8: #C3CACD;
$light9: #CBD1D4;
$lightA: #D4D9DB;
$lightB: #DCE0E2;
$lightC: #E5E8E9;
$lightD: #EDEFF0;
$lightE: #F5F6F7;
$lightF: #FEFEFE;

$darkest: #000a12;
$darker: #102027;
$dark: #1c313a;
$darkish: #29434e;
$darkgray: #34515e;

$gray: #4b636e;

$lightgray: #62757f;
$lightish: #808e95;
$light: #9ea7aa;
$lighter: #babdbe;
$lightest: #eceff1;

$white: white;

// PALETTE

$palette: "primary", "danger", "warning", "success", "orange", "purple";

@each $color in $palette {
    .fill-#{$color} {
        fill: var(--ion-color-#{$color}) !important;
    }
}

.ion-color-blue {
    --ion-color-base: #3880ff;
    --ion-color-base-rgb: 56, 128, 255;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #3171e0;
    --ion-color-tint: #4c8dff;
}

.ion-color-red {
    --ion-color-base: #eb445a;
    --ion-color-base-rgb: 235, 68, 90;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #cf3c4f;
    --ion-color-tint: #ed576b;
}

.ion-color-green {
    --ion-color-base: #2dd36f;
    --ion-color-base-rgb: 45, 211, 111;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #28ba62;
    --ion-color-tint: #42d77d;
}

.ion-color-yellow {
    --ion-color-base: #ffc409;
    --ion-color-base-rgb: 255, 196, 9;
    --ion-color-contrast: #000000;
    --ion-color-contrast-rgb: 0, 0, 0;
    --ion-color-shade: #e0ac08;
    --ion-color-tint: #ffca22;
}

.ion-color-orange {
    --ion-color-base: #ff8a4f;
    --ion-color-base-rgb: 255, 138, 79;
    --ion-color-contrast: #000000;
    --ion-color-contrast-rgb: 0, 0, 0;
    --ion-color-shade: #e07946;
    --ion-color-tint: #ff9661;
}

.ion-color-purple {
    --ion-color-base: #9517d4;
    --ion-color-base-rgb: 149, 23, 212;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #8314bb;
    --ion-color-tint: #a02ed8;
}
